<!-- <p>login works!</p> -->
<div class="card">
    <h2 style="text-align: center;">Login to a world of opportunities!</h2>
<!--<form onsubmit="validate();">-->
    <form #LoginForm="ngForm" (ngSubmit)="checkLogin()">
        <div class="container">
        
        <label for="uname"><b>Username</b></label>
        <input type="text" placeholder="Enter Username" name="uname" required [(ngModel)]="userName">

        <label for="psw"><b>Password</b></label>
        <input type="password" placeholder="Enter Password" name="psw" required  [(ngModel)]="pass">


        <button type="submit">Login</button>
        <input type="checkbox" checked="checked" name="remember">
        <label for="remember"> Remember me</label><br>
        </div>
        <div class="container" style="background-color: #f1f1f1;">
            <button type="button" class="cancelbtn" >Cancel</button>
            <span class="psw"><a href="#">Forget password?</a></span>
        </div>
    </form>
</div>