<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
</head>
<body>
    <div class="container">
        <form>  
            <h2 > Forgot Password</h2><br>
            <div class="form-group">   
                <label>Enter UserID</label>
                <input type="text" class="form-ctrl" placeholder="Enter UserID" name="accountNo" required/> 
            </div> 
            <div class="form-group">
                <label>Enter OTP </label>   
                <input type="password"  class="form-ctrl" placeholder="Enter OTP" required/>  
            </div>
             <br>
            <button [routerLink]="['/Login']" type="submit" class="btn" >Back</button> 
            <button type="submit" class="btn">Proceed</button> 
        </form>    
    </div> 
    
</body>
</html>