*{
    box-sizing: border-box;
    font-family: 'Muli', 'Baloo Da 2', 'Montserrat', sans-serif;
}
body
{
    font-family: Arial, Helvetica, sans-serif;
    padding: 10px;
    background: #f1f1f1;
}
.header
{
    padding: 10px;
    text-align: center;
    background: white;
    width: 80%;
    margin: auto;
}
.topnav
{
    background-color: darkblue;
    width: 80%;
    margin: auto;
    overflow: hidden;
}
.topnav ul{
    list-style-type: none;
}
.topnav a{
    float: left;
    color: white;
    text-align: left;
    letter-spacing: 1px;
    padding: 14px;
    height: 70px;
    text-decoration: none;  /*remove hyperlink underline*/

}
.row::after{
    content: "";
    display: table;
    clear: both;
}
.main
{
    width: 80%;
    margin: auto;
}
.card
{
    overflow: hidden;
    padding: 20px;
    background-color: white;
    margin-top: 20px;
}
.cc
{
    float: left;
    padding: 5px;
}
img{
    width: auto; 
    max-width: 190px;
    height: auto;
}
.footer
{
    padding: 20px;
    text-align: center;
    background: #ddd;
    /* margin-top: 20px; */
    width: 80%;
    margin:auto;
}
/* Full-width inputs */
input[type=text], input[type=password], input[type=email], input[type=tel]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    }
    /* input[type=reset]{
        background-color: rgb(235, 102, 25);
        padding: 5px 15px;
        cursor: pointer;
        margin: 8px 0;
        border: none;
        color: white;
        border-radius: 2px;
        
    } */
    /* Add padding to containers */
    .container {
    padding: 16px;
    width: 350px;
    margin: auto;
    }
    /* Set a style for all buttons */
    button {
    background-color: darkblue;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    }
    /* Add a hover effect for buttons */
    button:hover {
    opacity: 0.8;
    }

    /* .cancel
    {
        width:50%;
        background:rgb(238, 234, 234);
        padding: 15px;
        margin: 10px 0;
        width: 400px;
    } */

    /* Extra style for the cancel button (red) */
  .cancelbtn {
    width: auto;
    padding: 10px 18px;
    background-color: #f44336;
  }
  /* The "Forgot password" text */
  span.psw {
    float: right;
    padding-top: 16px;
  }


  #userCity {
    box-sizing: border-box;
    border: 1px solid #ccc;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
}